<h2 class="no-margin-top">Co możesz robić dziś w mieście <%= @city.name %>?</h2>
<% @today_events.each do |event| %>
<div class="col-xs-12 col-sm-6 centered">
  <h4><%= event.name %></h4>
  <%= link_to city_event_path(@city, event) do %>
      <%= image_tag event.image(:thumb), class: 'img-responsive img-centered' %>
      <% end %>
</div>
<% end %>
<div class="col-sm-12 button-see-all">
<%= link_to 'Zobacz wszystkie dzisiejsze wydarzenia', events_path(:search => @city.name, :start_date => @date),
            class: 'btn btn-primary btn-lg' %>
</div>