= link_to 'Wróć do profilu', profile_path, class: 'btn btn-default'
.col-sm-12
  %h2 Wydarzenia, którymi jesteś zainteresowany/a
  - if @attendances
    %table.table
      %thead
        %tr
          %th Nazwa
          %th Data
          %th Akcja
      %tbody
        - @attendances.each do |attendance|
          %tr
            %td= attendance.name.truncate(40)
            %td= "#{attendance.start_date} - #{attendance.end_date}"
            %td= link_to 'Szczegóły', city_event_path(attendance.city, attendance), class: 'btn btn-primary'
    .col-sm-12.text-center
      = will_paginate @attendances, renderer: BootstrapPagination::Rails, :class => "pagination-lg"
  - else
    %p Nie interesujesz się jeszcze żadnymi wydarzeniami.
