<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <article class="event">
    <div class="event-part" id="event-image">
      <%= image_tag event.image.url(:thumb) %>
    </div>
    <div class="event-part" id="event-title">
      <p><%= event.name %></p>
    </div>
    <div class="event-part" id="event-location">
      <p><%= event.location %></p>
    </div>
    <div class="event-part" id="event-time">
      <p><%= I18n.localize(event.start_date, :format => ("%d %B %Y")) %> -
        <%= I18n.localize(event.end_date, :format => ("%d %B %Y")) %></p>
      <p><%= event.starts_at.strftime("%H:%M") %> - <%= event.ends_at.strftime("%H:%M") %></p>
    </div>
    <div class="event-part" id="event-additional">
    </div>
    <div class="event-part" id="event-button">
      <%= link_to 'Show', [event.city, event], class: 'btn btn-info' %>
      <%= link_to 'Edit', edit_city_event_path(event.city, event), class: 'btn btn-warning' %>
      <%= link_to 'Destroy', [event.city, event], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>          </div>
  </article>
</div>