<div class="row event-list-item">
	<div class="well col-md-12">
		<div class="row">
			<div class="col-xs-4 col-sm-3">
		      <%= image_tag event.image.url(:thumb), :class => "img-responsive" %>
		  </div>
		  <div class="col-xs-8 col-sm-9">
					<%= link_to '<i class="fa fa-eye"></i> Show'.html_safe, [event.city, event], class: 'btn btn-info btn-lg pull-right' %>
		      <h3><%= event.name %></h3>
		      <p><strong><i class="fa fa-map-marker"></i> <%= event.location %></strong></p>
		      <p><i class="fa fa-calendar"></i> <%= I18n.localize(event.start_date, :format => ("%d %B %Y")) %> -
		        <%= I18n.localize(event.end_date, :format => ("%d %B %Y")) %></p>
		      <p><i class="fa fa-clock-o"></i> <%= event.starts_at.strftime("%H:%M") %> - <%= event.ends_at.strftime("%H:%M") %></p>
		  </div>
		</div>
	</div>
</div>
