<%= form_for(@event, :html => { :multipart => true }) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div id="datepair" class="form-group form-inline input-daterange">
      <%= f.label :start_date, class: 'sr-only' %>
      <%= f.text_field :start_date,
                       class: 'form-control date',
                       placeholder: 'Data rozpoczęcia, kliknij'
                       #:data => {provide: 'datepicker'}
      %>
        <span class="add-on">to</span>
      <%= f.label :end_date, class: 'sr-only' %>
      <%= f.text_field :end_date,
                       class: 'form-control date',
                       placeholder: 'Data zakończenia, kliknij'
                       #:data => {provide: 'datepicker'}
      %>
    </div>

    <div id="timepair" class="form-group form-inline">
      <%= f.label :starts_at %>
      <%= f.text_field :starts_at,
                       class: 'time form-control'
      %>

      <%= f.label :ends_at %>
      <%= f.text_field :ends_at,
                       class: 'time form-control'
      %>
    </div>
    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_area :location, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= collection_select(:event,
                            :city_id,
                            City.all,
                            :id,
                            :name,
                            {prompt: 'Wybierz miasto'},
                            {class: 'form-control'}) %>
    </div>
    <div class="form-group">
      <%= f.label :category %>
      <%= collection_select(:event,
                            :category_id,
                            Category.all,
                            :id,
                            :name,
                            {prompt: 'Wybierz kategorię'},
                            {class: 'form-control'}) %>
    </div>
    <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :contact, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :cost %><br />
      <%= f.label :cost, 'Darmowe', :value => '1' %>
      <%= f.radio_button :cost, '1' %>
      <%= f.label :cost, 'Płatne', value: '2' %>
      <%= f.radio_button :cost, '2' %>
    </div>
    <div class="form-group">
      <%= f.label :effort %>
      <br />
      <%= f.label :effort, 'Łatwe', :value => '1', class: "effort_label" %>
      <%= f.radio_button :effort, '1' %>
      <%= f.label :effort, 'Średnie', :value => '2', class: "effort_label" %>
      <%= f.radio_button :effort, 'Medium' %>
      <%= f.label :effort, 'Wymagające', :value => '3', class: "effort_label" %>
      <%= f.radio_button :effort, 'Hard' %>
    </div>
    <div class="form-group">
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
