<p id="notice"><%= notice %></p>
<div class="row">
	<div id="events-top-belt" class="col-md-12">
	  <% if @city.present? %>
	      <h1>Wydarzenia w dniu <%= params[:start_date] %> w mieście <%= @city.name %></h1>
          <hr class="hr-line"/>
    <% else %>
	      <p>To miasto nie istnieje w bazie.</p>
	  <% end %>
	</div>
</div>


<% if @events.present? %>
    <div class="row">
      <div class="col-sm-3">
        <%= render 'events/partials/filtering' %>
      </div>
      <div class="event-list-items col-sm-9">
        <%= render @events %>
      </div>
      <div class="col-sm-12 text-center">
        <%= will_paginate @events, renderer: BootstrapPagination::Rails, :class => "pagination-lg" %>
      </div>
    </div>
<% else %>
    <p>W dniu <%= params[:start_date] %> nie ma żadnych wydarzeń w mieście <%= params[:search] %>.</p>
<% end %>

<script>
    if ($('body.events').length) {
        $('.date').datepicker({
            'language': "pl",
            'todayHighlight': true,
            'format': 'dd-mm-yyyy',
            'autoclose': true
        })
    }
</script>
