<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>
<div class="row">
  <% @events.each do |event| %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
        <article class="event">
          <div class="event-part" id="event-title">
            <h2><%= event.name %></h2>
          </div>
          <div class="event-part" id="event-location">
            <p><%= event.location %></p>
          </div>
          <div class="event-part" id="event-additional">

          </div>
          <div class="event-part" id="event-additional">
            <%= link_to 'Info', event, class: 'btn btn-info' %>
          </div>
        </article>
      </div>
  <% end %>
</div>
<table class="table">
  <thead>

  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
    <th>Date</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
        <td><%= event.starts_at %></td>
        <td><%= event.ends_at %></td>

        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
