- if @event.present?
  .row
    .container
      %h1
        = @event.name
        .pull-right
          - if current_user && (current_user == @event.user || current_user.admin?)
            =link_to 'Edytuj',
              edit_event_path(@event),
              class: 'btn btn-warning btn-sm'
            =link_to 'Usuń', event_path(@event),
              method: :delete,
              data: { confirm: 'Na pewno chcesz usunąć to wydarzenie' },
              class: 'btn btn-danger btn-xs'
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          %ul.list-inline
            - if @city
              %li
                Miasto: #{@city.name}
            - if @category
              %li
                Kategoria: #{@category.name}
          - if user_signed_in?
            - unless current_user == @event.user
              #follow_form
                - if current_user.attendances?(@event)
                  = render 'unfollow', event: @event
                - else
                  = render 'follow', event: @event
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        %h2 Podstawowe informacje
        %table.table
          %thead
          %tbody
            %tr
              %th Miejsce
              %td= @event.location
            %tr
              %th Rozpoczyna się 
              %td
                = I18n.localize(@event.start_date, :format => ("%d %B %Y"))
                o
                \#{@event.starts_at.strftime("%H:%M")}
            %tr
              %th Kończy się
              %td
                = I18n.localize(@event.end_date, :format => ("%d %B %Y"))
                o
                \#{@event.ends_at.strftime("%H:%M")}
            %tr
              %th Koszt
              %td
                = @event.cost.name
            %tr
              %th Wysiłek
              %td
                = @event.effort.name
            %tr
              %th Adres
              %td= @event.location
            %tr
              %th Kontakt
              %td= @event.contact
            %tr
              %th Strona internetowa
              %td
                %a{:href => "http://#{@event.website}"}= @event.website
          %tfoot
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        = image_tag @event.image.url(:large), class: 'img-responsive'
      .col-sm-12
        %h2 Opis
        %p= @event.description.html_safe
  %hr.hr-line/
  #similar.row
    .container
      = render 'events/partials/similar'
- else
  %p Wydarzenie nie istnieje
