<% if @event.present? %>
    <div class="row">
      <%#= link_to 'Powrót', :back, class: 'btn btn-info' %>
      <h1><%= @event.name %>
        <div class="pull-right">
          <% if current_user && (current_user == @event.user || current_user.admin?) %>
              <%= link_to 'Edytuj',
                          edit_event_path(@event),
                          class: 'btn btn-warning btn-sm' %>
              <%= link_to 'Usuń', event_path(@event),
                          method: :delete,
                          data: { confirm: 'Na pewno chcesz usunąć to wydarzenie' },
                          class: 'btn btn-danger btn-xs'%>
          <% end %>
        </div>
      </h1>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="list-inline">
            <% if @city %>
                <li>Miasto: <%= @city.name %></li>
            <% end %>
            <% if @category %>
                <li>Kategoria: <%= @category.name %></li>
            <% end  %>
          </ul>
          <% if user_signed_in?  %>
              <% unless current_user == @event.user %>
                  <div id="follow_form">
                    <% if current_user.attendances?(@event) %>
                        <%= render 'unfollow', event: @event %>
                    <% else %>
                        <%= render 'follow', event: @event %>
                    <% end %>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Podstawowe informacje</h2>
        <table class="table">
          <thead></thead>
          <tbody>
          <tr>
            <th>Miejsce </th>
            <td><%= @event.location %></td>
          </tr>
          <tr>
            <th>Rozpoczyna się </th>
            <td>
              <%= I18n.localize(@event.start_date, :format => ("%d %B %Y")) %> o
              <%= @event.starts_at.strftime("%H:%M") %>
            </td>
          </tr>
          <tr>
            <th>Kończy się</th>
            <td>
              <%= I18n.localize(@event.end_date, :format => ("%d %B %Y")) %> o
              <%= @event.ends_at.strftime("%H:%M") %>
            </td>
          </tr>
          <tr>
            <th>Koszt</th>
            <td>
              <%= @event.cost.name %>
            </td>
          </tr>
          <tr>
            <th>Wysiłek</th>
            <td><%= @event.effort.name %>
            </td>
          </tr>
          <tr>
            <th>Adres</th>
            <td><%= @event.location %></td>
          </tr>
          <tr>
            <th>Kontakt</th>
            <td><%= @event.contact %></td>
          </tr>
          <tr>
            <th>Strona internetowa</th>
            <td><a href = <%= @event.website %>><%= @event.website %></a></td>
          </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <%= image_tag @event.image.url(:large), class: 'img-responsive'%>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-6">
        <h2>Opis</h2>
        <p><%= @event.description.html_safe %></p>
      </div>

    </div>

    <hr class="hr-line"/>
    <div class="row" id="similar">
      <%= render 'events/partials/similar' %>
    </div>

<% else %>

    <p>Wydarzenie nie istnieje</p>
<% end %>