<%= form_for(@city, :html => { :multipart => true }) do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Nazwa' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :image, 'Zdjęcie miasta' %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit 'Utwórz miasto', class: 'btn btn-success' %>
    </div>
<% end %>