<div class="row">

  <div class="col-sm-12">
    <h1><%= @city.name %>
      <% if current_user && current_user.admin? %>
      <%= link_to 'Edytuj', edit_city_path(@city), class: 'btn btn-warning' %>
      <%= link_to 'Usuń miasto', city_path(@city), method: :delete,
                  data: { confirm: 'Jesteś pewien?' },
                  class: 'btn btn-danger btn-xs'
      %>
      <% end %>
    </h1>
  </div>

  <hr class="hr-line"/>

  <div class="col-sm-12"><%= @city.description.html_safe if @city.description.present? %></div>
  <hr class="hr-line"/>

  <div class="col-xs-12 col-sm-12 col-md-7 centered">
    <%= image_tag @city.image(:large), class: "img-responsive" %>
  </div>

  <div class="col-sm-12 col-md-5 centered today-city-events">
    <%= render 'cities/partials/propositions' %>
  </div>

</div>

<hr class="hr-line"/>

<div id="newest" class="row row-centered">
  <%= render 'cities/partials/newest' %>
</div>