#footer-sitemap
  %ul.list-unstyled
    %li= link_to 'Strona główna', root_path
    %li= link_to 'Miasta', cities_path
    %li= link_to 'Kontakt', contact_path
    %li= link_to 'Rejestracja', new_user_registration_path
    %li= link_to 'Logowanie', new_user_session_path unless user_signed_in?
    %li= link_to 'Wyloguj', destroy_user_session_path, {:method => :delete} unless !user_signed_in?
