!!!
%html
  %head
    %title= t('.app_name')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'autocomplete-rails.js', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
  %body#body{:class => params[:controller]}
    %header= render 'layouts/navbar'
    %main
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-#{name}"
      = yield
    %div
    = render 'layouts/footer'
%html
  :javascript
    $('#incfont').click(function(){

        curSize= parseInt($('#body').css('font-size')) + 2;
        if(curSize<=24)
            $('#body').css('font-size', curSize);

    });
    $('#decfont').click(function(){
        curSize= parseInt($('#body').css('font-size')) - 2;
        if(curSize>=14)

            $('#body').css('font-size', curSize);
    });
